[Unit]
Description=service to start the ETH 2.0 Beacon Chain on this machine.
After=network.target

[Service]
User=ubuntu
Type=simple
Restart=always
RestartSec=1s
WorkingDirectory=/home/ubuntu/prysm
ExecStart=/bin/sh -c '/home/ubuntu/prysm/prysm.sh beacon-chain --http-web3provider=https://goerli.infura.io/v3/12b32b466c6a40c089b286a31748d0fc --pyrmont --accept-terms-of-use --verbosity=info --p2p-max-peers=99 --p2p-host-ip=194.182.179.18'

[Install]
WantedBy=default.target

