[Unit]
Description=service to start the ETH 2.0 Beacon Chain on this machine.
After=network.target

[Service]
User=ubuntu
Type=simple
Restart=always
RestartSec=1s
WorkingDirectory=/home/ubuntu/
ExecStart=/home/ubuntu/prysm/prysm.sh beacon-chain --p2p-host-ip=89.145.160.193 --p2p-max-peers=129

[Install]
WantedBy=default.target

